.mainView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: thin;
  border-top-style: solid;
  border-top-color: lightgray;
  border-top-width: thin;
}

.avatar {
    border-radius: 50%;
    width: 50;
    height: 50;
}